<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="./public/Stylesheets/app.css" />
</head>

<body></body>

</html>