<header>
  <!-- Main Nav -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark" style="background-color: #2e2e2e;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <!-- <li id="home" class="nav-item"><a class="nav-link" href="/home"><i class="fas fa-igloo"></i> Home</a></li> -->
        <li id="home" class="nav-item"><a class="nav-link" href="/home"><i class="fas fa-info-circle"></i> Home</a></li>
        <li id="about" class="nav-item"><a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About</a></li>
        <li id="projects" class="nav-item"><a class="nav-link" href="/projects"><i class="fab fa-github-square"></i></i> Projects </a></li>
       
        <li id="services" class="nav-item"><a class="nav-link" href="/services"><i class="fas fa-concierge-bell"></i> Services</a></li>
        <li id="contact" class="nav-item"><a class="nav-link" href="/contact"><i class="fas fa-mobile-alt"></i> Contact</a></li>
        <li id="login" class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-mobile-alt"></i> Login</a></li>
    </div>
  </nav>
</header>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="./Content/app.css">
</head>
<!-- body tag that also sets the background image of the index.html page-->
<body background="/Pictures/HomePage/Home.jpeg">
    <!-- Main Header -->
    <header>
        <!-- Main Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="index.html">WebWorks</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <!-- Link to index.html-->
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html"><i class="fas fa-home fa-lg"></i> Home</a>
                  </li> 
                  <!-- Link to projects.html-->
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="projects.html" id = "projects"><i class="fas fa-cog fa-lg"></i> Products</a>
                  </li> 
                  <!-- Link to services.html-->
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="services.html"><i class="fas fa-map fa-lg"></i> Services</a>
                  </li>
                  <!-- Link to contact.html-->
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="contact.html"><i class="fas fa-phone fa-lg"></i> Contact Us</a>
                  </li>
                  <!-- Link to about.html-->
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="about.html"><i class="fas fa-info fa-lg"></i> About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="login.html"><i class="fas fa-info fa-lg"></i> Login</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
