<header>
  <!-- Main Nav -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark" style="background-color: #2e2e2e;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li id="home" class="nav-item"><a class="nav-link" href="/home"><i class="fas fa-info-circle"></i> Home &nbsp </a></li>
        <li id="about" class="nav-item"><a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About </a></li>
        <li id="projects" class="nav-item"><a class="nav-link" href="/projects"><i class="fab fa-github-square"></i></i> Projects </a></li>
       
        <li id="services" class="nav-item"><a class="nav-link" href="/services"><i class="fas fa-concierge-bell"></i> Services </a></li>
        <li id="contact" class="nav-item"><a class="nav-link" href="/contact"><i class="fas fa-mobile-alt"></i> Contact </a></li>
        <li id="login" class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-mobile-alt"></i> Login </a></li>
    </div>
  </nav>
</header>

