

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="./Content/app.css">
</head>
<!-- body tag that also sets the background image of the index.html page-->
<body background="/Pictures/HomePage/Home.jpeg">
    <!-- Main Header -->
    <header>
        <!-- Main Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="index.html">WebWorks</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <!-- Link to index.html-->
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html"><i class="fas fa-home fa-lg"></i> Home</a>
                  </li> 
                  <!-- Link to projects.html-->
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="projects.html" id = "projects"><i class="fas fa-cog fa-lg"></i> Products</a>
                  </li> 
                  <!-- Link to services.html-->
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="services.html"><i class="fas fa-map fa-lg"></i> Services</a>
                  </li>
                  <!-- Link to contact.html-->
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="contact.html"><i class="fas fa-phone fa-lg"></i> Contact Us</a>
                  </li>
                  <!-- Link to about.html-->
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="about.html"><i class="fas fa-info fa-lg"></i> About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="login.html"><i class="fas fa-info fa-lg"></i> Login</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
