<%- include ('partials/head') %>
<%- include ('partials/header') %>
<main class="container" id="mainContent">


  <% if (title == 'Home') { %>
    <%  include ('content/home') %>

  <% } else if (title == 'About') { %>
    <%  include ./content/about.ejs %>

  <% } else if (title == 'Projects') { %>
    <%  include ./content/projects.ejs %>

  <% } else if (title == 'Services') { %>
    <%  include ./content/services.ejs %>
    
  <% } else if (title == 'Contact') { %>
    <%  include ./content/contact.ejs %>
  <% } %>
</main>

<%- include ('partials/footer') %>