<main class="container">
    <!-- About us section that outputs our names, short descriptions ,pictures of us and links to our resumes-->
    <h1>About Us</h1>
    <h2>Aaron LeBlanc</h2>
    <div> Link to my Resume:  <a href="url">https://docs.google.com/document/d/1sedhW3i_CLZ5nHWg8QpAri_rBYlweGHNmizz9WnBLvs/edit?usp=sharing</a></div>
    <div id="AboutAaronContent"> 
        I'm twenty years old and I'm currently enrolled in the Computer Programmer and Analysis course at Durham College. I spent one year at Ontario Tech University doing game development before switching into my current program. I enjoy programming and design, spending time with friends and going to music festivals. In future I aspire to be a succesful software developer and be able to travel too many countries and support my family.
    </div>
    <img src="/Pictures/About us Page/PictureOfAaron.jpg" width = 400px; alt="Deck of Cards">
   
    <!-- Jonathons about section-->
    <h2>Jonathon Wager</h2>
    <div> Link to my Resume:  <a href="url">https://docs.google.com/document/d/1-_PeKFoHjG8uEVsDyWGm8tCP1qcZLKkT5mntlrsb78w/edit?usp=sharing</a></div>
    <div id="AboutJonathonContent">
        My name is Jonathon Wager and i am currently enrolled in the Computer Programmer and Analysis course at Durham College. I am very interested in  science and coding. Some of my hobbies include Auto Racing, Skateboarding and snowboarding. I live in a small town in Uxbridge Ontario but frecently spend time at the family cottage in Haliburton Ontario 
     </div>
    <img src="/public/images/About us Page/Jonathonpic.jpg" width = 400px; alt="Deck of Cards">
    
    
  </main>
