<h1>Welcome to WEBD 6201</h1>
<img src="images/Logo/webworks.jpeg" alt="Website Image">
<p id="paragraphOne">Welcome to Web Works, Our team at Web Works is dedicated to offering advanced web development creations that will make you stand out from the crowd.</p>
<p>Our team consits of two dedicated students that are currently enrolled in the Computer programmer and Analysis course at Durham College located in Northern Oshawa. </p>
<p>Oshawa. Our skill sets are growing every day and we are profecient in HTML, CSS, Java, C++,
    database development, automations and much more. Contact our team with inqueries and you will get a response within one business day</p>
