<h1>Our Projects</h1>
<h2>Deck of Cards Project</h2>
<p>The following project focus was on developing our skills in object-orientated programming as we were developing a program that would create card objects that could be used for a wide variety of purposed including implementing into hundreds of different card games. The project was one of our favourites because it widned our skill set and showed us even further how useful object-orientate programming can be.</p>
<img src="public/images/Projects Page/DeckOfCardsLab.PNG" width = 600px; alt="Deck of Cards">
<h2>GPA Calculator Project</h2>
<p>This next project was from our Systems and Automation class where we create a GPA calculator program that was able to handle input, and formatted output containing calculations for averages and more. This project was one of our other favourites because it worked perfectly and we learned a lot of things in the process of completing the project.</p>
<img src="images/Projects Page/GPACalculator.PNG" width = 400px; alt="GPA Calculator">
<h2>Website Project</h2>
<p>The last project we will be showcasing was the website we built over the course of the semester for the Web Development course if first semester of our second year. This was one of our favourite projects because we learned so much along the way to the end of the project including skills in HTML, CSS, PHP and PGSQL. Our website was able to handle login using data from our database with encrypted passwords and had tables on our website that were directly pulled from its database.</p>
<img src="images/Projects Page/Website.jpeg" alt="Website Image">