<main class="container">
    <!-- Header for our services-->
    <h1>Our Services </h1>
    <!-- Web design header with a stock picture and a div tag that is injected into-->
    <h2>Web Design</h2>
    <img src="images/Services Page/WebDesign.jpeg" width = 600px; alt="Deck of Cards">
    <div id="WebDesignContent"> 
        We have the ability to create interactive websites that will stand out and make you look professional. We can apply custom themes to style your website as well as make it an interactive website that is effeciently navigable.
    </div>
    <!-- Database development header with a stock picture and a div tag that is injected into-->
    <h2>Database Development</h2>
    <img src="public/images/Services Page/DatabaseDevelopment.jpeg" width = 600px; alt="Deck of Cards">
    <div id="DatabaseDevelopmentContent"> 
        We can create small to medium sized databases that will be able to meet your business needs. We can then implement the database into your website so that you can take your business to the next level.
    </div>
    <!-- Custom programming header with a stock picture and a div tag that is injected into-->
    <h2>Custom Programming</h2>
    <img src="public/images/Services Page/Programming.jpeg" width = 600px; alt="Deck of Cards">
    <div id="CustomProgrammingContent"> 
        We can create small to medium sized databases that will be able to meet your business needs. We can then implement the database into your website so that you can take your business to the next level.
    </div>
  </main>