/*

//Jonathon Wager 100698641
  //Aaron Leblanc 100700122
  //4/16/2021
  //index.js
*/
-->
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
